.landing-container{
    display: flex;
    min-height: 91vh;
    justify-content: space-between;
    align-items: center;
    color: #d4e8ff;
    padding: 0 52px;
    font-family: "Bitter", cursive;
    flex-wrap: wrap;
}

.landing-header{
    font-size: 48px;
    letter-spacing: 2px;
    margin: 0;
    margin-bottom: 16px;
}

.typewritter-container{
  font-size: 40px;
  letter-spacing: 2px;
}

.icon-image{
    width: 50vw;
}

@media (max-width:800px) {
    .landing-container{
        flex-direction: column;
        align-items: center;
    }
    .icon-image{
        width: 80vw;
    }

    .landing-header{
       margin-top: 52px;
       text-align: center;
    }

    .typewritter-container{
        text-align: center;
    }
}